:root {
  --light: #ECE9EA;
  --gray: #D8D4D4;
  --dark: #272B27;
  --accent-blue: #495797;
  --accent-red: #DF5A5A;
  --accent-green: #7EB454;
}

html, body, main {
  font-family: Lato, sans-serif;
  min-height: 100%;
  background-color: var(--light);
}


h1, h2, h3, h4, h5, h6, p {
  color: var(--dark);
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  flex-direction: column;
  width: 100%;
}

.logo {
  width: 30vh;
  height: 30vh;
}

.welcome {
  flex-direction: row;
  text-align: center;
  padding: 5px 20px 40px 20px;

}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.bi {
  font-size: 50px;
}

.btns {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

button {
  transition: .2s ease-in;
}

.btn-upload {
  border: 4px solid var(--accent-blue);
  color: var(--accent-blue);
}

.btn-take {
  border: 4px solid var(--dark);
  color: var(--dark);
}

.btn-upload:hover {
  background-color: var(--accent-blue);
  color: var(--light);
}

.btn-take:hover {
  background-color: var(--dark);
  color: var(--light);
}

.success-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.success {
  font-size: 60px;
}

